body {
   background-color: rgb(150, 158, 235);
}

.header {
   border-top: 2px solid black;
}

.header marquee h1{
   color: rgb(255, 0, 0);
   text-align: center;
   border-bottom: 5px solid greenyellow;
   font-family: Curlz Mt ;
}

h3 {
   text-align: center;
   font-family: Curlz Mt ;
}

#content {
   background-color: rgb(233, 207, 176);
   border: black solid 3px;
   margin: 10px 170px 10px;
   padding: 20px;
   font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
 }

ol li{
   margin: 0px;
   padding: 0px;
}

p{
   margin: 0;
   margin-bottom: 7px;
}
ol{
   margin: 0;
}
footer.penutup {
   position: static;
   width: 100%;
   bottom: 0px;
   left: 0px;
   right: 0px;
   background-color: rgb(150, 158, 235);
   padding: 5px;
   margin: 0px;
 }
 
 footer h3 {
   color: black;
   padding: 5px;
   text-align: center;
   font-family: Curlz Mt ;
   border-bottom: 2px solid black;
 }