body {
   background-image: url("../img/bg.jpg");
   margin: 0px;
 }


 .header {
  background-color: rgb(136, 206, 233);
  position: static;
  width: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 5px;
  margin: 0px;


 }
 ul {
   list-style-type: none;
 }
 
 li {
   display: inline;
   margin-right: top;
 }
 a {
   font-size: 23px;
   text-decoration: none;
 }
 h2 a:hover {
    color: brown;
    background-color: rgb(193, 255, 245);
   }
 #content {
   background-color: rgb(193, 255, 245);
   border: black solid 3px;
   margin: 10px 170px 10px;
   padding: 20px;
   font-family: Bradley Hand, cursive;
 }
 .content img{
   width: 190px;
   border-radius: 10px;
   box-shadow: 0 3px 5px #ddd;
   margin-bottom: 10px;
   display: block;
   margin-left: auto;
   margin-right: auto;
  }
 p {
   color: brown;
   border-bottom: 1px solid black;
 }
 footer.penutup {
   position: static;
   width: 100%;
   bottom: 0px;
   left: 0px;
   right: 0px;
   background-color: rgb(136, 206, 233);
   padding: 5px;
   margin: 0px;
 }
 footer h5 {
   color: black;
   text-align: center;
 }
 