body{
   margin-bottom: 100px;
}
.container{
   background-color: rgb(233, 233, 233);
}
.header{
   align-items: center;
   display: flex;
   border-bottom: 4px solid rgb(17, 17, 131);
}
.header img{
   margin-left: 100px;
}
.header table{
   margin-left: 100px;
}
.header ul li{
   display: inline;
}
form{
   margin-left: 350px;
}

p button{
   margin-left: 110px;
}
.content{
   border-bottom: 4px solid black;
}