 .container{
    background-color: rgb(228, 228, 107);
 }

 .header h1{
    color: rgb(27, 27, 146);
    margin-bottom: 0px;
 }

 .header h3{
    color: rgb(185, 44, 44);
 }

 .header{
   border-bottom: 2px solid black;
 }
   
 .noBorder {
   border:none !important;
}

.identitas table {
   background-color: yellow;
   margin-bottom: 10px;
}

.identitas a{
   color: black;
}

 .identitas li {
   display: block;
   font-family: Bradley Hand, cursive;
 }

 .identitas h3{
    margin-bottom: 0px;
 }

 td h4 {
   text-align:center
 }

.table table,tr, td {
   border:1px solid black;
   margin-bottom: 20px;
 }

